* {
    border: 1px solid limegreen;
}

.container {
    max-width: 960px;
    margin: 0 auto; /* easy way of centering things with display: block */
}

section {
    min-height: 20vh;
    font-size: 200%;
    text-align: center;
}